.entry {
  color: #0000FF;
  font: 18px "Monospace";
}

.button {
  color: #A52A2A;
  font: 18px "Monospace";
}


.label {
  color: #000000;
  font: 18px "Monospace";
}

.grid {
  font: 18px "Monospace";
}
